@charset "utf-8";

@import url(../fonts/lato.css);
@import url(../fonts/helvetica-neue.css);
@import url(../fonts/icomoon.css);

/*обнуляшка*/

* {
	margin: 0;
	padding: 0;
}

/*

Для десктопа мин-высота ~600, для мобильной версии - нет мин.высоты

*/

html {
	height: 100%;
	line-height: 16px;
	font-size: 16px;
}

body {
	height: 100%;
	position: relative;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 0.75rem;
	color: #000;
	margin-left: 15rem;
	text-align: center;
	min-height: 35rem;
}

body > * {
	text-align: left;
}

/*мелочи*/

body.no-select * {
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
	-webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
	transition: color 0.3s ease-out, background-color 0.3s ease-out;
}

a:hover {
	color: #B5191A;
}

.button,
.button-on-hover,
.button-on-active,
input[type="submit"] {
	height: 2rem;
	line-height: 2rem;
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: -1rem;
	text-align: center;
	background: transparent;
	border: 0;
	cursor: pointer;
}

.button,
.button.active,
.button-on-active.active,
input[type="submit"] {
	-webkit-box-shadow: inset 0px 0px 0px 2px #000;
	-moz-box-shadow: inset 0px 0px 0px 2px #000;
	box-shadow: inset 0px 0px 0px 2px #000;
	border-radius: 0;
	-webkit-appearance: none;
}

.button-on-active.active:hover {
	color: #000;
	cursor: default;
}

.button-brown {
	height: 1.5rem;
	line-height: 1.625rem;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	padding: 0 1rem;
	background-color: #765646;
	display: inline-block;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.button-brown:hover {
	color: #fff;
	background-color: #B5191A;
}

input[type="submit"] {
	text-transform: uppercase;
}

input[type="submit"]:hover {
	background-color: #000;
	color: #fff;
}

h2 {
	line-height: 2rem;
	font-size: 1.3125rem;
	font-weight: normal;
}

textarea, input {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 0.75rem;
	line-height: 1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

textarea {
	padding: 0.5rem;
	display: block;
	border: solid #b7b0a2 1px;
	-webkit-appearance: none;
	border-radius: 0;
}

input[type="text"] {
	line-height: 2rem;
	height: 2rem;
	padding: 0 0.5rem;
	background-color: transparent;
	border-width: 0.0625rem;
    -webkit-border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    -moz-border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    -ms-border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    border-image: url(../images/input-border.png) 1 1 1 1 stretch;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-appearance: none;
	border-radius: 0;
}


.invalid input[type="text"] {
    -webkit-border-image: url(../images/input-border-error.png) 1 1 1 1 stretch;
    -moz-border-image: url(../images/input-border-error.png) 1 1 1 1 stretch;
    -ms-border-image: url(../images/input-border-error.png) 1 1 1 1 stretch;
    border-image: url(../images/input-border-error.png) 1 1 1 1 stretch;
}

*[data-device="mobile"] {
	display: none;
}

*[data-device="desktop"] {
	display: block;
}

/*прогресс-бар*/
.progress {
	height: 0.1rem;
	margin-top: 0.45rem;
	margin-bottom: 0.45rem;
	background-color: #F1EBE9;
	margin-right: 2rem;
	display: block;
	position: relative;
}

.progress .bar {
	height: 100%;
	width: 50%;
	display: block;
	background-color: #B5191A;
}

.estimated {
	width: 2rem;
	font-size: 0.625rem;
	position: absolute;
	right: -2rem;
	top: -0.45rem;
	display: block;
	text-align: right;
}

/*звук*/
.mobile-device .volume-bar {
	display: none;
}

.volume-bar {
	height: 0.12rem;
	margin-top: 0.44rem;
	margin-bottom: 0.44rem;
	background-color: rgba(241, 235, 233, 0.3);
	display: block;
	position: relative;
	margin-left: 1.5rem;
}

.volume-bar .bar {
	display: block;
	background-color: #fff;
	width: 50%;
	height: 100%;
	position: relative;
	max-width: 90%;
}

.volume-bar .bar .pin {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.volume-bar .bar .pin:after {
	content: " ";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -0.4375rem;
	height: 0.875rem;
	width: 0.875rem;
	background-color: #fff;
	border-radius: 50%;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
	cursor: pointer;
}

.volume-bar [class^="icon-"],
.volume-bar [class*=" icon-"] {
	position: absolute;
	left: -1.5rem;
	top: -0.375rem;
	color: inherit;
	font-size: 0.875rem;
}

/* Задник (конь) */
#site-back {
	position: absolute;
	left: -15rem;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: blur(50px);
/*	filter: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"50\" /></filter></svg>#blur");*/
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0,0,0);
}

/*Левый бар*/
#left-bar {
	width: 11rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 11rem;
	/*background-color: rgba(255,255,255,0.95);*/
	position: absolute;
	left: -15rem;
	top: 0;
	/*height: 100%;*/
	bottom: 0;
	overflow-y: hidden;
}

#left-bar:after {
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 176px;
	z-index: 1;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	pointer-events: none;
	/* Rectangle 25: */
	background-image: -o-linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, rgba(255, 255, 255, 1.0) 100%);
	background-image: -moz-linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, rgba(255, 255, 255, 1.0) 100%);
	background-image: -ms-linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, rgba(255, 255, 255, 1.0) 100%);
	background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(255, 255, 255, 1.0) 100%);
}

#left-bar:before {
	content: " ";
	position: absolute;
	display: block;
	z-index: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/coffeemania-fm-logo-new.svg) no-repeat center top;
	background-color: rgba(124, 97, 74, 0.3);
}

*[lang="en"] #left-bar:before {
	content: " ";
	position: absolute;
	display: block;
	z-index: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/coffeemania-fm-en-logo-new.svg) no-repeat center top;
	background-color: rgba(124, 97, 74, 0.3);
}

#left-bar > * {
	position: relative;
	z-index: 1;
}

/*Лого сайта*/
.site-logo svg,
.site-logo img {
	display: block;
	margin: 2rem auto 2rem auto;
}

/*Плейлист*/
.playlist {
	color: #765646;
	list-style: none;
}

.playlist li {
	margin-bottom: 1.5rem;
}

.playlist li:last-child {
	margin-bottom: 0rem;
}

.playlist .author {
	font-size: 0.5625rem;
	text-transform: uppercase;
}

.playlist .title {
	font-size: 0.875rem;
	padding-right: 2rem;
}

.playlist .duration {
	width: 2rem;
	font-size: 0.625rem;
	position: absolute;
	top: 2px;
	right: 0;
	display: block;
	text-align: right;
}

#left-bar .playlist .current .duration {
	display: none;
}

#left-bar .playlist .current .toggle {
	position: absolute;
	left: -1rem;
	top: 0;
	color: #B5191A;
}

/*меню*/
#site-menu {
	width: 34rem;
	width: 34rem;
	padding-left: 9rem;
	padding-right: 9rem;
	position: absolute;
	left: 50%;
	margin-left: -26rem;
	top: 0;
	z-index: 10;
	text-align: justify;
	padding-top: 2.5rem;
}

#site-menu a {
	position: relative;
}

#site-menu a:before {
	content: " ";
	height: 1px;
	display: block;
	position: absolute;
	top: 1.55rem;
	left: 1rem;
	right: 1rem;
	background-color: rgba(34, 34, 34, 0.25);
}

#site-menu a:hover:before {
	background-color: rgba(181, 25, 26, 1);
}

#site-menu a.active:before {
	content: none;
}

#site-menu a:last-child {
	margin-right: -1rem;
}

#site-menu *[data-device="desktop"]:after {
	content: " ";
	display: inline-block;
	width: 100%;
}

#site-menu.white a {
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

#site-menu.white a:hover:before {
	background-color: #fff;
}

#site-menu.white .button-on-active.active {
	-webkit-box-shadow: inset 0px 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 0px 2px #fff;
	box-shadow: inset 0px 0px 0px 2px #fff;
}

#site-menu.white a:before {
	background-color: rgba(255,255,255,0.35);
}

#site-menu a.close:before {
	content: none;
}

#site-menu a.invisible {
	visibility: hidden;
}

/*контент*/
#site-content {
	width: 52rem;
	background-color: rgba(255, 255, 255, 1.0);
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
	position: absolute;
	left: 50%;
	margin-left: -26rem;
	top: 0;
	padding-top: 7rem;
	z-index: 1;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);

	-webkit-backface-visibility: hidden;
   	backface-visibility: hidden;
   -webkit-transform: translate3d(0, 0, 0);
}

#site-content.transparent {
	background-color: rgba(255, 255, 255, 0);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#site-content article {
	padding-left: 8rem;
	padding-right: 8rem;
	padding-bottom: 4rem;
	padding-top: 2rem;
}

/*.owl-item.active {
	margin-right: 2px !important;
	margin-left: 2px !important;
}*/

article[data-hash="about"] p,
article[data-hash="stream"] p {
	line-height: 1.25rem;
	font-size: 0.875rem;
}

@media screen and (max-width: 1000px) {
	article .image {
		margin: 1rem 0;
	}
}


article .image img {
	max-width: 400px;
	margin: 0 auto;
	display: block;
}

article h2 {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

article p {
	margin-bottom: 1rem;
}

article p:last-child {
	margin-bottom: 0;
}

article .column2x6 {
	display: inline-block;
	vertical-align: top;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 16rem;
	margin-right: -3px;
}

article form {
	margin-left: 1rem;
}

article[data-hash="stream"] form {
	margin-left: 0;
	margin-right: 1rem;
}

article form textarea {
	width: 27rem;
}

article form input[type="text"] {
	width: 18rem;
}

article[data-hash="stream"] input[type="text"] {
	width: 100%;
}

article form input[type="submit"] {
	margin-left: 0;
}

article .playlist .current {
	position: relative;
	margin-left: 0;
	padding-left: 1rem;
}

article .playlist .current {
	background-color: #EBE9E5;
}

article .playlist .duration {
	width: 5rem;
	text-align: center;
}
article .playlist .title {
	padding-right: 5rem;
}

article .playlist li {
	margin-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}

article .scroll-wrapper {
	height: 20rem;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

article .iscroll-content {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.iScrollVerticalScrollbar {
	width: 10px !important;
	opacity: 1 !important;
}

.iScrollIndicator {
	border-radius: 5px !important;
	border: 0 !important;
	background-color: #EBE9E5 !important;
}

article[data-hash="order-song"] .additional-info {
	width: 70%;
}

article[data-hash="order-song"] .playlist li:hover {
	color: #B5191A;
	cursor: pointer;
}

article[data-hash="order-song"] .playlist li.current:hover {
	color: inherit;
	cursor: default;
}

article[data-hash="stream"] h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 1.5rem;
	margin-bottom: 0.25rem;
}

article[data-hash="stream"] .date {
	font-size: 10px;
	color: #bbb;
}

article[data-hash="stream"] .place {
	margin-bottom: 0.5rem;
	color: #B5191A;
}

article[data-hash="stream"] .place .icon-pin {
	font-size: 140%;
	position: relative;
	top: 0.125rem;
	left: -0.125rem;
}

article[data-hash="stream"] form label {
	line-height: 1.5;
	font-style: italic;
	font-size: 0.625rem;
	display: block;
	margin-bottom: 0.5rem;
	text-align: left;
}

/*карта*/
#map {
	margin-left: -8rem;
	margin-right: -8rem;
	margin-bottom: -4rem;
	margin-top: -2rem;
	height: 24rem;
}

#map iframe {
	width: 100%;
	height: 100%;
	display: block;
}

/*сейчас играет*/
#site-content article[data-hash="now-playing"] {
	height: 19rem;
	white-space: nowrap;
}

#site-content article[data-hash="now-playing"]:before {
	content: " ";
	display: inline-block;
	vertical-align: bottom;
	height: 100%;
	width: 1px;
}

.now-playing {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	width: 35rem;
	padding-left: 1rem;
	white-space: normal;
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

.now-playing .column {
	display: inline-block;
	vertical-align: middle;
	width: 18rem;
}

.now-playing .album-cover {
	display: inline-block;
	vertical-align: middle;
	height: 12rem;
	width: 12rem;
	margin-right: 2rem;
	background: #eae1da url(../images/album-cover-unknown.svg) no-repeat center center;
	background-size: 40%;
	-webkit--moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30), 0px 9px 20px 0px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30), 0px 9px 20px 0px rgba(0,0,0,0.40);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30), 0px 9px 20px 0px rgba(0,0,0,0.40);
}

.now-playing .album-cover img {
	display: block;
	height: 100%;
	width: 100%;
}

.now-playing .toggle {
	position: absolute;
	left: 6rem;
	top: 50%;
	margin-left: -1rem;
	margin-top: -2rem;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	text-align: center;
	line-height: 4rem;
	font-size: 1.5rem;
	color: inherit;
	z-index: 1;
}

.now-playing .toggle.icon-play:before {
	margin-left: 0.25rem;
}

.now-playing .author {
	line-height: 1.125rem;
	margin-bottom: 0.5rem;
	font-size: 0.875rem;
	text-transform: uppercase;
}

.now-playing .title {
	font-size: 2.125rem;
	line-height: 2.25rem;
	margin-bottom: 2rem;
}

.now-playing .progress {
	margin-top: 2.44rem;
}

.now-playing .volume-bar {
	width: 50%;
	margin-top: 1.88rem;
}

.now-playing .app-store {
	position: absolute;
	top: 50%;
	left: 0;
	width: 12rem;
	text-align: center;
	margin-left: 1rem;
	margin-top: 3rem;
}


.now-playing .app-store img {
	width: auto;
}

.now-playing .app-store a {
	display: inline-block;
	vertical-align: middle;
}

/*футер*/
#site-footer {
	text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #fff;
	width: 48rem;
	padding-left: 0rem;
	padding-right: 0rem;
	text-align: center;
	position: absolute;
	right: 50%;
	margin-right: -23.5rem;
	bottom: 1.5rem;
	line-height: 2rem;
	height: 2rem;
}

#site-footer a {
	color: #fff;
}

#site-footer > * {
	margin: 0 0.5rem;
}

#site-footer a[class^="icon-"],
#site-footer a[class*=" icon-"] {
	font-size: 170%;
	vertical-align: middle;
	margin: 0 0.25rem;
	position: relative;
	top: -0.125rem;
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
	opacity: 1;
}

#site-footer a[class^="icon-"]:hover,
#site-footer a[class*=" icon-"]:hover {
	opacity: 0.5;
}

#site-footer .app .icon-apple {
	font-size: 120%;
}

#site-footer .app a {
	border-radius: 4px;
	border: solid rgba(255,255,255,0.5) 1px;
	padding: 5px 6px;
}

.lang {
	font-size: 0.8rem;
	font-weight: bold;
}

/*по высоте подгоняем*/
#site-content article .iscroll-wrapper {
	/*max-height: 19rem;*/
	overflow: hidden;
	position: relative;
}

@media screen and (max-height: 35rem) {

	#site-content {
		padding-top: 6rem;
	}

	#site-content article {
		padding-top: 1rem;
	}

	#site-content article {
		height: 19rem;
	}

	#site-content article[data-hash="now-playing"] {
		height: 20rem;
	}

	#map {
		margin-top: -1rem;
		height: 24rem;
	}

	#site-content article .scroll-wrapper {
		height: 19rem;
	}
}

@media screen and (min-height: 35rem) {

	#site-content {
		padding-top: 6rem;
	}

	#site-content article {
		padding-top: 1rem;
	}

	#site-content article {
		height: 19rem;
	}

	#site-content article[data-hash="now-playing"] {
		height: 19rem;
	}

	#map {
		margin-top: -1rem;
		height: 24rem;
	}

	#site-content article .scroll-wrapper {
		height: 19rem;
	}
}

@media screen and (min-height: 40rem) {

	#site-content {
		padding-top: 7rem;
	}

	#site-content article {
		padding-top: 2rem;
	}

	#site-content article {
		height: 22rem;
	}

	#site-content article[data-hash="now-playing"] {
		height: 22rem;
	}

	#map {
		height: 28rem;
		margin-top: -2rem;
	}

	#site-content article .scroll-wrapper {
		height: 22rem;
	}
}

@media screen and (min-height: 45rem) {

	#site-content article {
		height: 27rem;
	}

	#site-content article[data-hash="now-playing"] {
		height: 27rem;
	}

	#map {
		height: 33rem;
	}

	#site-content article .scroll-wrapper {
		height: 27rem;
	}
}


/*адаптивность*/
@media all and (max-width: 1150px) {

	#site-menu {
		padding-left: 6rem;
		padding-right: 6rem;
		margin-left: -23rem;
	}

	#site-content {
		width: 46rem;
		margin-left: -23rem;
	}

	#site-content article {
		padding-left: 5rem;
		padding-right: 5rem;
	}

	#site-footer {
		/*padding-left: 5rem;
		padding-right: 5rem;
		margin-left: -24rem;*/
	}

	#map {
		margin-left: -5rem;
		margin-right: -5rem;
	}
}

@media screen and (max-width: 1000px) {

	*[data-device="mobile"] {
		display: block;
	}

	*[data-device="desktop"] {
		display: none;
	}

	#site-menu .current-page-title {
		line-height: 2rem;
		height: 33px;
		border: solid #fff 2px;
		display: inline-block;
		padding-left: 1rem;
		font-size: 0.875rem;
		padding-right: 2.5rem;
		color: #fff;
		text-shadow: none !important;
	}

	#site-menu .current-page-title:before {
		content: "\f107" !important;
		font-family: "icomoon";
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		background-color: transparent !important;
		height: auto;
		width: auto;
		position: absolute;
		right: 1rem;
		top: 0;
		left: auto;
		font-size: 1.5rem;
		color: #fff;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	#left-bar {
		left: auto;
		right: -15rem;
		z-index: 10;
		-webkit-transition: right 0.2s ease-out;
		-moz-transition: right 0.2s ease-out;
		transition: right 0.2s ease-out;
	}

	#left-bar.active {
		right: 0rem;
		z-index: 20;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	}

	#toggle-left-bar {
		width: 50px;
		height: 37px;
		top: 2.5rem;
		right: 0rem;
		position: absolute;
		-webkit-transition: right 0.2s ease-out;
		-moz-transition: right 0.2s ease-out;
		transition: right 0.2s ease-out;
		z-index: 21;
	}

	#toggle-left-bar.active {
		right: 14.99rem;
	}

	#toggle-left-bar:before {
		content: url(../images/icon-left-bar.svg);
		height: 100%;
		display: block;
	}

	body {
		margin-left: 0px;
		overflow-x: hidden;
		min-height: 0;
		min-width: 320px;
	}

	#site-menu:after {
		content: none;
	}

	#site-menu *[data-device="mobile"] {
		text-align: center;
	}

	#site-content {
		top: 7rem;
		padding-top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin-left: 0;
		height: auto;
		width: auto;
		max-height: none;
		min-height: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	#site-content article {
		height: auto;
		min-height: 0;
		max-height: none;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 2rem !important;
		padding-bottom: 1rem;
		/*overflow: auto;*/
	}

	#site-content article .site-footer {
		margin-top: 4rem;
		font-size: 0.625rem;
		position: relative;
		/*top: 1rem;*/
		z-index: 1;
	}

	#site-content article .site-footer > * {
		margin: 0;
		display: block;
		text-align: center;
	}

	#site-content article .site-footer .socials {
		position: relative;
		top: -4rem;
	}

	#site-content article .site-footer *[class*="icon-"] {
		font-size: 1.3rem;
		margin: 0 0.25rem;
		text-shadow: none;
	}

	#site-content article[data-hash="players-map"] .site-footer {
		display: none;
	}

	#map {
		margin: 0;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		height: auto;
	}

	article .column2x6 {
		padding: 0;
		margin: 0;
		width: auto;
		display: block;
	}

	article h2 {
		margin-left: 0;
		margin-right: 0;
	}

	article form {
		margin-left: 0;
	}

	#site-content article .scroll-wrapper {
		height: auto;
		margin: 0;
	}

	#site-content article .choose-genre {
		margin-left: 1rem;
	}

	article[data-hash="order-song"] .additional-info {
		margin-left: 1rem;
		width: auto;
	}

	article .playlist .current:before {
		right: -1rem;
	}

	#site-content article[data-hash="now-playing"] {
		/*min-height: 400px;*/
		text-align: center;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		min-height: 28rem;
	}

	#site-content article[data-hash="now-playing"]:before {
		content: none;
	}

	#site-content article[data-hash="now-playing"] figure {
		vertical-align: middle;
	}

	#site-content article[data-hash="now-playing"] .site-footer {
		position: absolute;
		bottom: 1rem;
		margin-top: 0;
		top: auto;
		left: 0;
		right: 0;
		color: #fff;
		text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	}

	#site-content article[data-hash="now-playing"] .site-footer a {
		color: #fff;
	}

	.now-playing {
		text-align: center;
		width: auto;
		padding: 0;
		display: block;
	}

	.now-playing .album-cover {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 9rem;
		height: 9rem;
		margin-bottom: 2.25rem;
	}

	.now-playing .app-store {
		margin-left: 0;
		width: 100%;
		top: 6.75rem;
		bottom: auto;
		margin-top: 0;
	}

	.now-playing .app-store svg,
	.now-playing .app-store img {
		height: 30px;
	}

	.now-playing .toggle {
		left: 50%;
		width: 3rem;
		height: 3rem;
		top: 5rem;
		margin-left: -1.5rem;
		line-height: 3rem;
		font-size: 1.25rem;
	}

	.now-playing .column {
		width: auto;
		display: block;
	}

	.now-playing .info {
		display: block;
	}

	.now-playing .author {
		font-size: 0.625rem;
	}

	.now-playing .title {
		font-size: 1.75rem;
	}

	.now-playing .progress {
		width: 13rem;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		left: -1rem;
	}

	.now-playing .volume-bar {
		margin-left: auto;
		margin-right: auto;
		width: 10rem;
	}

	.site-menu[data-device="mobile"] {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-y: auto;
		background-color: rgba(255, 255, 255, 0.97);
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 3rem;
		padding-bottom: 3rem;
		z-index: 30;
		font-size: 1.25rem;
		line-height: 2rem;
		text-align: center;
		font-weight: 300;
	}

	.site-menu[data-device="mobile"] a {
		display: inline-block;
		margin: 1rem 0;
	}

	.site-menu[data-device="mobile"] .close {
		width: 4rem;
		height: 4rem;
		text-align: center;
		line-height: 4rem;
		font-size: 2rem;
		border-radius: 50%;
		border: solid rgba(0, 0, 0, 0.8) 0.11rem;
		margin-top: 4rem;
	}

	#site-content article input[type="text"],
	#site-content article textarea {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
	}

	#site-content article h2,
	#site-content form,
	#site-content .choose-genre,
	#site-content .additional-info  {
		text-align: center;
	}

	.overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.3);
		visibility: hidden;
		opacity: 0.0;
		-webkit-transition: opacity 0.3s ease-out;
		-moz-transition: opacity 0.3s ease-out;
		transition: opacity 0.3s ease-out;
		z-index: 19;
		-webkit-backface-visibility: hidden;
	}

	.overlay.active {
		opacity: 1.0;
		visibility: visible;

	}

	#site-content article .site-footer .app a {
		width: 150px;
		display: inline-block;
		position: relative;
		top: -20px;
		border: solid rgba(255,255,255, 0.5) 1px;
		border-radius: 4px;
		padding: 2px 7px;
	}

	#site-content article .site-footer .app .icon-apple {
		font-size: 120%;
	}

}

@media screen and (max-width: 320px) {
	body {
		overflow-x: auto;
	}
}

@media screen and (max-width: 1000px) and (min-height: 640px) {
	#site-content article[data-hash="now-playing"]:before {
		content: " ";
		vertical-align: middle;
	}

	#site-content article[data-hash="now-playing"] .now-playing {
		display: inline-block;
		vertical-align: middle;
		/*width: 90%;*/
		position: relative;
		top: -4rem;
	}
}


/* 	Хитрый баннер загрузки приложения */

html {
	transition: margin-top 0.2s ease-out;
}
