
html, body {
	height: 100%
}

body {
	background: url(../images/back-album-cover-unknown.jpg) center center;
	background-size: cover;
	overflow: hidden;
}

body > * {
	display: none;
}

body .update-browser {
	display: block;
	height: 100%;
	text-align: center;
}

body .update-browser:before {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 100%;
	zoom: 1;
}

body .update-browser .article {
	display: inline-block;
	vertical-align: middle;
	background-color: white;
	padding: 40px 50px;
	border-radius: 20px;
}