<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta name="author" content="Coffeemania">
	<meta name="apple-itunes-app" content="app-id=1041803284">
	<link rel="apple-touch-icon" href="images/coffeemania-fm-app-icon.png">
	<meta>
	<title>Coffeemania FM</title>
	<!-- jQuery -->
	<script src="lib/jquery/jquery-2.1.1.min.js"></script>
	<!-- Last FM -->
	<script src="lib/lastfm/lastfm.api.js"></script>
	<script src="lib/lastfm/lastfm.api.cache.js"></script>
	<script src="lib/lastfm/lastfm.api.md5.js"></script>
	<!-- iScroll -->
	<script src="lib/iscroll/iscroll.js"></script>
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="lib/owl.carousel/owl.carousel.css">
	<link rel="stylesheet" href="lib/owl.carousel/animate.css">
	<script src="lib/owl.carousel/owl.carousel.min.js"></script>
	<!-- Angularjs -->
	<script src="lib/angular/angular.min.js"></script>
	<!-- Coffemania FM -->
	<link rel="stylesheet" href="css/coffemaniafm.css">
	<link rel="stylesheet" href="css/smart-app-banner.css">
	<script src="js/smart-app-banner.js"></script>
	<script src="js/coffemaniafm.js"></script>
	<!-- Typogrid
	<script src="lib/typogrid/typogrid.js"></script>-->
</head>
<body ng-controller="CoffemaniaFMCtrl">

	<div id="site-back" ng-style="{ 'background-image' : (currentAlbumArt ? 'url('+currentAlbumArt+')' : siteBack) }"></div>

	<!-- Левый бар -->
	<a id="toggle-left-bar" data-device="mobile" ng-click="toggleLeftBar();" ng-class="{active:!isLeftBarHidden}"></a>
	<header id="left-bar" ng-class="{active:!isLeftBarHidden}">
		<!-- <div class="site-logo"><img src="images/coffemania-fm-logo.svg"></div> -->

		<nav class="choose-genre">
			<div ng-repeat="channel in radio.channels">
				<a class="button-on-active"
						ng-bind="radio.servers[$index].title"
						ng-class="{active: ($index==radio.current)}"
						ng-click="radio.setChannel($index)">Название радиостанции</a>
			</div>
		</nav>

		<p>&nbsp;</p>
		<p>&nbsp;</p>

		<!-- Плеер -->
		<div coffeemania-radio>
			<audio src="#" autoplay="false"></audio>
		</div>

		<!-- Плейлист -->
		<ul class="playlist">
			<li ng-repeat="song in radio.program" ng-class="{ current: $index == 0}">
				<div class="author" ng-bind="song.artist">Gus Gus</div>
				<div style="position: relative;">
					<div class="title" ng-bind="song.title">Over</div>
					<div class="duration" ng-bind="radio.getDuration(song);">4:59</div>
					<a class="toggle"
								ng-if="$index == 0"
								ng-click="radio.toggle()"
								ng-class="{ 'icon-play': radio.paused, 'icon-pause': !radio.paused }"></a>
				</div>
				<div class="progress" ng-if="$index == 0">
					<div class="bar" style="width: {{radio.currentEstimatedPercent}}%"></div>
					<div class="estimated" ng-bind="radio.currentEstimatedTime">-3:45</div>
				</div>
			</li>
		</ul>
	</header>

	<!-- Меню -->
	<nav id="site-menu" ng-class="{ white: (currentPageId == 0) }">
		<div data-device="mobile">
			<a class="current-page-title" ng-bind="currentPageTitle" ng-click="toggleMenu();">Now Playing</a>
		</div>
		<div data-device="desktop">
			<a href="#now-playing" class="button-on-active" ng-class="{active: (currentPageId == 0)}">Now Playing</a>
			<a href="#players-map" class="button-on-active" ng-class="{active: (currentPageId == 1)}">Guest Map</a>
			<a href="#about" class="button-on-active" ng-class="{active: (currentPageId == 2)}">About Us</a>
			<a href="#stream" class="button-on-active" ng-class="{active: (currentPageId == 3)}">Live Broadcast</a>
			<a href="#now-playing" class="close" ng-class="{invisible:(currentPageId == 0)}"><span class="icon-big-close"></span></a>
		</div>
	</nav>

	<!-- Контент -->
	<section id="site-content" ng-class="{ transparent: (currentPageId == 0) }">

		<!-- Now Playing -->
		<article data-hash="now-playing">
			<figure class="now-playing">
				<a class="toggle" ng-click="radio.toggle()" ng-class="{ 'icon-play': radio.paused, 'icon-pause': !radio.paused }"></a>
				<div class="album-cover">
					<img ng-if="currentAlbumArt" ng-src="{{currentAlbumArt}}">
				</div>
				<div class="column">
					<div class="author" ng-bind="radio.program[0].artist">Muddy Waters</div>
					<div class="title" ng-bind="radio.program[0].title">Touch me if i’m going to scream</div>
					<div class="progress">
						<div class="bar" style="width: {{radio.currentEstimatedPercent}}%"></div>
						<div class="estimated" ng-bind="radio.currentEstimatedTime">-0:45</div>
					</div>
					<div class="volume-bar" volume>
						<a class="" ng-class="{'icon-soundoff' : (volume <= 0.01), 'icon-soundhalf': (volume < 0.6 && volume > 0.01), 'icon-soundon': (volume >= 0.6) }"></a>
						<div class="bar" style="width: {{volume*100}}%"><div class="pin"></div></div>
					</div>
				</div>
				<div class="app-store">
					<a href="" id="ituneslink" target="_blank"><img src="images/itunes-en.svg" height="40"></a>
				</div>
			</figure>
		</article>

		<!-- Guest Map -->
		<article data-hash="players-map">
			<div id="map">
				<iframe width="100%" height="100%" frameborder="0" style="border:0" ng-src="{{mapURL}}"></iframe>
			</div>
		</article>

		<!-- About Us -->
		<article data-hash="about">
			<h2>Coffeemania FM</h2>
			<div class="columns">
				<div class="column2x6">
					<p>Every day Coffeemania team puts it's heart and soul into creating a product of the best quality.</p>
					<p>Besides Coffemania haute cuisine, there is also a special emphasis on right music selection in restaurants. We are thoroughly choosing and listing to thousands of music tracks  in order to create the new outstanding playlist.</p>
				</div>
				<div class="column2x6">
					<p>Our desire to share trends and achievements  with guests led to the project - Coffemania.fm, the Internet radio.</p>
					<p><strong>The goal of the project</strong> is to give the opportunity for any person having an access to the Internet to listen to the music picked up by Coffemania team.</p>
				</div>
			</div>
		</article>

		<!-- Прямая трансляция -->
		<article data-hash="stream">
			<h2>Live Broadcast</h2>
			<div class="columns">
				<div class="column2x6">
					<div class="date">30 НОЯБРЯ 2014 В 19:30</div>
					<h3>Водка и медведи</h3>
					<div class="place"><span class="icon-pin"></span>Кофемания на Рождественке</div>
					<p>Ожидаемо сильный концерт для ожидаемо понимающей публики в неожиданном месте</p>
					<p>&nbsp;</p>
					<form>
						<label>Получайте напоминания о предстоящем концерте по электронной почте:</label>
						<input type="text" placeholder="Электронная почта">
						<br><br>
						<input type="submit" value="Подписаться"></input>
					</form>
				</div>
				<div class="column2x6">
					<div class="image"><img src="images/stream-image.jpg"></div>
				</div>
			</div>
		</article>

	</section>

	<!-- Копирайты -->
	<footer id="site-footer" data-device="desktop">
		<span class="copyrights">&copy; 2001-2014 "Coffeemania"</span>
		<span class="credits">Made by <a href="http://neq4.ru/" target="_blank">neq4</a></span>
		<span class="socials">
			<a href="https://twitter.com/CoffeemaniaRu" class="icon-twitter" target="_blank"></a>
			<a href="http://instagram.com/coffeemania.fm" class="icon-instagram" target="_blank"></a>
			<a href="https://www.facebook.com/pages/CoffeemaniaFM/321869134666776" class="icon-facebook-square" target="_blank"></a>
		</span>
		<span class="app"><a href="https://appsto.re/ru/uGkg-.i" target="_blank"  class="ituneslink"><span class="icon-apple"></span> Download on the App Store</a></span>
		<span class="lang"><a href="/">Переключить на Русский</a></span>
	</footer>

	<div class="site-menu" data-device="mobile" ng-if="!menuHidden">
		<a href="#now-playing" ng-click="toggleMenu();">Now Playing</a><br>
		<a href="#players-map" ng-click="toggleMenu();">Guest Map</a><br>
		<!-- <a href="#order-song" ng-click="toggleMenu();">Заявка на песню</a><br> -->
		<!-- <a href="#feedback" ng-click="toggleMenu();">Обратная связь</a><br> -->
		<a href="#about" ng-click="toggleMenu();">About Us</a><br>
		<a href="#stream" ng-click="toggleMenu();">Live Broadcast</a><br>
		<a class="close icon-big-close" ng-click="toggleMenu();"></a>
	</div>

	<div class="overlay" ng-class="{active: !isLeftBarHidden}" data-device="mobile" ng-click="toggleLeftBar();"></div>

</body>
</html>