@font-face {
    font-family: 'Helvetica Neue';
    src: url('helveticaneuecyr-light-webfont.eot');
    src: url('helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-light-webfont.woff') format('woff'),
         url('helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('helveticaneuecyr-roman-webfont.eot');
    src: url('helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('helveticaneuecyr-bold-webfont.eot');
    src: url('helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('helveticaneuecyr-lightitalic-webfont.eot');
    src: url('helveticaneuecyr-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-lightitalic-webfont.woff') format('woff'),
         url('helveticaneuecyr-lightitalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('helveticaneuecyr-bolditalic-webfont.eot');
    src: url('helveticaneuecyr-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-bolditalic-webfont.woff') format('woff'),
         url('helveticaneuecyr-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('helveticaneuecyr-italic-webfont.eot');
    src: url('helveticaneuecyr-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-italic-webfont.woff') format('woff'),
         url('helveticaneuecyr-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}