@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?4gpmuj');
	src:url('icomoon.eot?#iefix4gpmuj') format('embedded-opentype'),
		url('icomoon.woff?4gpmuj') format('woff'),
		url('icomoon.ttf?4gpmuj') format('truetype'),
		url('icomoon.svg?4gpmuj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pin:before {
	content: "\e600";
}
.icon-soundhalf:before {
	content: "\e607";
}
.icon-soundoff:before {
	content: "\e608";
}
.icon-soundon:before {
	content: "\e609";
}
.icon-big-close:before {
	content: "\e606";
}
.icon-pause:before {
	content: "\e603";
}
.icon-play:before {
	content: "\e605";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-apple:before {
	content: "\e900";
}